{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirostagram</title>
    <link rel="stylesheet" href="{% static 'main_layout.css' %}">
    {% block css %}
    {% endblock css %}
    <script src="https://kit.fontawesome.com/9ada8679dc.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class=""></div>
        <div class="header_logo"><a href="{% url 'posts:post_list' %}">Pirostagram</a></div>
        <div class=""><a href="{% url 'posts:post_create' %}">게시물 작성</a></div>
    </header>
    {% block main_container %}
    {% endblock main_container %}
    {% block script %}
    {% endblock script %}
</body>
</html>